.vscode
.idea
.vite
build
node_modules
data
dist
test*

# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.log

# Coverage reports
coverage/

# Other
*.bak
*.swp
